@import "../../../../assets/variables/variables";

.header {
  height: $header-height;
  display: flex;
  align-items: center;
  padding: 0 $padding-block;

  &__image {
    object-fit: contain;
  }
}
