@import "../../../../assets/variables/variables";
@import "../../../../assets/variables/colors";

.block {
  min-width: 270px;
  height: 208px;
  background: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
  margin: 12.5px;
  white-space: break-spaces;

  &__title {
    font-size: 15px;
    color: $gray-text;
    text-align: center;
    margin: 0;
  }

  &__image {
    margin-top: 14px;
  }
}

@media (min-width: 2200px) {
  .block {
    min-width: 329px;

    h3 {
      font-size: 25px;
    }

    &__title {
      font-size: 20px;
    }
  }
}

@media (max-width: 780px) {
  .block {
    min-width: 180px;
    width: 180px;
    height: 100%;
  }
}
