<section class="blocks" *ngIf="width > 1835 && blocks">
  <img src="../../../../assets/image/arrow-left.png" class="blocks__arrow-left" [ngStyle]="{'opacity': isSlider  > 3 ? null : 0}"  (click)="onBack()">
  <app-block [block]="blocks[step]"></app-block>
  <app-block [block]="blocks[step >= blocks.length - 1 ? 0 : step + 1]"></app-block>
  <app-block [block]="blocks[step >= blocks.length - 2 ? step === 1 ? 0 : 1 : step + 2]"></app-block>
  <img src="../../../../assets/image/arrow-right.png" class="blocks__arrow-right" [ngStyle]="{'opacity': isSlider > 3 ? null : 0}"  (click)="onNext()">
</section>

<section class="blocks" *ngIf="width < 1835 && width > 1252 && blocks">
  <img src="../../../../assets/image/arrow-left.png" class="blocks__arrow-left" [ngStyle]="{'opacity': isSlider > 2 ? null : 0}" (click)="onBack()">
  <app-block [block]="blocks[step]"></app-block>
  <app-block [block]="blocks[step === blocks.length - 1 ? 0 : step + 1]"></app-block>
  <img src="../../../../assets/image/arrow-right.png" class="blocks__arrow-right" [ngStyle]="{'opacity': isSlider > 2 ? null : 0}"  (click)="onNext()">
</section>


<section class="blocks" *ngIf="width < 1252 && width > 0 && blocks">
  <img src="../../../../assets/image/arrow-left.png" class="blocks__arrow-left" [ngStyle]="{'opacity': isSlider > 1 ? null : 0}" (click)="onBack()">
  <app-block [block]="blocks[step]"></app-block>
  <img src="../../../../assets/image/arrow-right.png" class="blocks__arrow-right" [ngStyle]="{'opacity': isSlider > 1 ? null : 0}" (click)="onNext()">
</section>
