.blocks {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &__arrow-left {
    cursor: pointer;
    margin-right: 10px;
  }

  &__arrow-right {
    cursor: pointer;
    margin-left: 10px;
  }
}
