@import "../../../../assets/variables/variables";
@import "../../../../assets/variables/colors";

.slider {
  position: relative;
  height: $height-block;
  padding: 0 $padding-block;
  background: $primary;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: $white;
  }

  &__subtitle {
    margin: 0;
    color: $white;
    font-weight: 100;
  }

  &__description {
    width: 100%;
    height: 100%;

    &--blocks {
      width: 100%;
      height: 100%;
    }
  }

  &__circle {
    position: absolute;
    bottom: -21px;
    width: 42px;
    height: 42px;
    background: $pink;
    border-radius: 50%;
  }
}

.description {
  height: $height-block;
  padding: 0 $padding-block;
  background: $accent;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__subtitle {
    margin: 0;
    color: $gray-text;
    font-weight: 100;
  }

  &__desc {
    width: 100%;
    height: 100%;

    &--blocks {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 780px) {
  .slider {
    min-height: $height-block;
    height: 100%;
    padding: 0 10px;

    &__title {
      margin-top: 10px;
    }
  }

  .description {
    min-height: $height-block;
    height: 100%;
    padding: 0 10px;

    &__title {
      margin-top: 10px;
    }
  }

}
