<section class="slider">
  <h1 class="slider__title">Heading</h1>
  <h3 class="slider__subtitle">Lorem ipsum dolor sit amet, consect etur adipiscing elit.</h3>
  <div class="slider__description">
    <app-blocks class="slider__description--blocks" [blocks]="blocks"></app-blocks>
  </div>
  <div class="slider__circle">
  </div>
</section>
<section class="description">
  <h1 class="description__title">Heading</h1>
  <h3 class="description__subtitle">Lorem ipsum dolor sit amet, consect etur adipiscing elit.</h3>
  <h2>Heading</h2>
  <div class="description__desc">
    <app-blocks class="description__desc--blocks" [blocks]="blocks2"></app-blocks>
  </div>
</section>
