@import "assets/variables/variables";
/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-size: $h1-size;
  font-weight: 400;
  margin: 50px 0 5px 0;
}

h2 {
  font-size: $h2-size;
  font-weight: 400;
  margin: 10px 0 0 0;
}

h3 {
  font-weight: 400;
  text-align: center;
}
